@import '../../../variables';

.newPostBtn {
    position: fixed;
    bottom: 4em;
    right: 1em;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $clr-6;
    backdrop-filter: blur(.5em);
    border-radius: 50%;
    border: 1px solid $clr-7;
    z-index: 99;

    svg {
        height: 1.5em;
        width: 1.5em;
        translate: -46% -5%;
        fill: $clr-2;
    }
}