@import '../../variables';

nav {
    background-color: $clr-6;
    border: 1px solid $clr-7;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 1em;
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    backdrop-filter: blur(.5em);
}