$font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$clr-1: rgba(255, 255, 255, 0.87);
$clr-2: #646cff;
$clr-3: #b5b9ff;
$clr-4: #1a1a1a;
$clr-5: #213547;
$clr-6: rgba(28, 28, 28, 0.5);
$clr-7: rgba(255, 255, 255, 0.1);