#root {
  max-width: 1280px;
  width: 100vw;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

nav {
  background-color: var(--clr-6);
  border: 1px solid var(--clr-7);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.card {
  background-color: var(--clr-6);
  border: 1px solid var(--clr-7);
}

.newPostBtn {
  position: fixed;
  bottom: 4em;
  right: 1em;
  background-color: var(--clr-6);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid var(--clr-7);
  align-items: center;
  justify-content: center;
  z-index: 99;
  /* margin: 0 auto; */
}

.newPostBtn svg {
  height: 1.5em;
  width: 1.5em;
  translate: -46% -5%;
  fill: var(--clr-2);
}

/* 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

 


.read-the-docs {
  color: #888;
}
*/